{% extends "navbar.html" %}
{% block navbar %}
<div class="main">
<div id="algebra"><h1 class="section-header" id="algebra-header">algebra</h1>
    <div class="section-content">
         <!-- <div class="algebra-chunk">
            <p class="entered-formula">
                \(
                A\times B^{-1}
                \)
            </p>
            <p class="app-answer">
                \(\begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}\)
            </p>
        </div> -->

        <span id="clearfieldicon">
            <input type="text" id="user-input" placeholder="enter your expression"><span id="user-input-clear">x</span>
        </span>
    </div>
</div>

<div id="storage">
    <h1 class="section-header" id="storage-header">storage</h1>
    <div class="section-content">
        {% for matrix_data in matrices_list %}
            <span class="deleteicon">
                <div class="algebra-chunk" id="storage-matrix-{{loop.index0}}">
                    <span id="storage-cross-{{loop.index0}}">x</span>
                    <p class="app-answer" data-name="{{matrix_data.0}}">{{matrix_data.1}}</p></div>
            </span>
        {% endfor %}
    </div>
</div>

<!-- Modal for waiting for maths to load -->
<div id="pop-up-universal" class="modal">
    <div class="modal-content animate" id="modal_div"></div>
</div>

<!-- Modal for new matrix -->
<div id="enter_matrix" class="modal">
    <span onclick="document.getElementById('enter_matrix').style.display='none'"
    class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="index.html" method="post" id="query-name-form">
        <div class="pop-up-form-container" id="matrix-info">
            <div id="matrix-name-div"></div>
            <div id="matrix-dimensions-div"></div>
        </div>
        <div class="pop-up-form-container" id="matrix-input">
        </div>
        <div class="pop-up-form-container" id="matrix-rest">
            <button class="pop-up-form-button" type="button" id="new-matrix-confirm-button">confirm</button>
            <div id="pop-up-form-info">
                If you leave a cell empty, a value of 0 will be assigned.
            </div>
            <div id="pop-up-form-cancelbtn-container">
                <button class="pop-up-form-button" type="button"
                onclick="document.getElementById('enter_matrix').style.display='none'" class="cancelbtn">cancel</button>
            </div>
        </div>
    </form>
</div>


<div class="hidden-data" id="storage-latexed"></div>
<div class="hidden-data" id="storage-names">{{ matrices_names }}</div>
<div class="hidden-data" id="input-latexed">{{ input_latexed }}</div>
<div class="hidden-data" id="input-processed">{{ input_processed }}</div>

{% endblock %}