{% extends "navbar.html" %}
{% block navbar %}
<div class="main">
<div id="algebra"><h1 class="section-header" id="algebra-header">algebra of matrices</h1>
    <div class="section-content">
        <p>
            When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
            \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
        </p>
        <p class="entered-formula">
            \(
            \begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}
            \)
        </p>
        Wow. Nice.
        <p class="entered-formula">
            \(
            \begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}
            \)
        </p>
        <p>
            When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
            \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
        </p>
        <p>
            When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
            \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
        </p>
        <p class="entered-formula">
            \(
            \begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}
            \)
        </p>
        <p>
            When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
            \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
        </p>
        <p>
            \(
            \begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}
            \)
        </p>
        <input type="text" id="user-input" placeholder="enter your expression"></textarea>
    </div>
</div>

<div id="storage">
    <h1 class="section-header" id="storage-header">stored matrices</h1>
    <div class="section-content">
        <p id="matrix_a1">
            \(A_1=
            \begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}
            \)
        </p>
    </div>
</div>

<!-- Modal for waiting for maths to load -->
<div id="pop-up-universal" class="modal">
    <div class="modal-content animate" id="modal_div"></div>
</div>

<!-- Modal for new matrix -->
<div id="enter_matrix" class="modal">
    <span onclick="document.getElementById('enter_matrix').style.display='none'"
    class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" id="query-name-form">
        <div class="pop-up-form-container" id="matrix-info">
            <div id="matrix-name-div"></div>
            <div id="matrix-dimensions-div"></div>
        </div>
        <div class="pop-up-form-container" id="matrix-input">
        </div>
        <div class="pop-up-form-container" id="matrix-rest">
            <button class="pop-up-form-button" type="submit">confirm</button>
            <div id="pop-up-form-info">
                If you leave a cell empty, a value of 0 will be assigned.
            </div>
            <div id="pop-up-form-cancelbtn-container">
                <button class="pop-up-form-button" type="button" 
                onclick="document.getElementById('enter_matrix').style.display='none'" class="cancelbtn">cancel</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}