{% extends "navbar.html" %}
{% block navbar %}
<div class="main">
<div id="algebra"><h1 class="section-header" id="algebra-header">algebra of matrices</h1>
    <div class="section-content">
        <!-- <div class="algebra-chunk">
            <p class="entered-formula">
                \(
                A\times B^{-1}
                \)
            </p>
            <p class="app-answer">
                \(
                \begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}
                \)
            </p>
        </div>
        <div class="algebra-chunk">
            <p class="entered-formula">
                \(
                C^{-1} + B^T
                \)
            </p>
            <p class="app-answer">
                \(
                \begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}
                \)
            </p>
        </div>
        <div class="algebra-chunk">
            <p class="entered-formula">
                \(
                (A\times B)^{-1}\times D
                \)
            </p>
            <p class="app-answer">
                \(
                \begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}
                \)
            </p>
        </div> -->
        <span id="user-input-span">
            <input type="text" id="user-input" placeholder="enter your expression"></textarea>
        </span>
    </div>
</div>

<div id="storage">
    <h1 class="section-header" id="storage-header">stored matrices</h1>
    <div class="section-content"></div>
</div>

<!-- Modal for waiting for maths to load -->
<div id="pop-up-universal" class="modal">
    <div class="modal-content animate" id="modal_div"></div>
</div>

<!-- Modal for new matrix -->
<div id="enter_matrix" class="modal">
    <span onclick="document.getElementById('enter_matrix').style.display='none'"
    class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="index.html" method="post" id="query-name-form">
        <div class="pop-up-form-container" id="matrix-info">
            <div id="matrix-name-div"></div>
            <div id="matrix-dimensions-div"></div>
        </div>
        <div class="pop-up-form-container" id="matrix-input">
        </div>
        <div class="pop-up-form-container" id="matrix-rest">
            <button class="pop-up-form-button" type="button" id="new-matrix-confirm-button">confirm</button>
            <div id="pop-up-form-info">
                If you leave a cell empty, a value of 0 will be assigned.
            </div>
            <div id="pop-up-form-cancelbtn-container">
                <button class="pop-up-form-button" type="button" 
                onclick="document.getElementById('enter_matrix').style.display='none'" class="cancelbtn">cancel</button>
            </div>
        </div>
    </form>
</div>


<div id="storage-latexed">{{ matrices_list }}</div>
<div id="storage-names">{{ matrices_names }}</div>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://unpkg.com/json5@2/dist/index.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/module.js') }}"></script>
{% endblock %}